<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey guys! it's me!</h1>
    <p>Vegan heirloom 90's farm-to-table. Trust fund semiotics YOLO shabby chic narwhal bitters. Celiac venmo dreamcatcher kickstarter godard.
      Keytar bicycle rights seitan heirloom. VHS letterpress drinking vinegar next level. Ethical banh mi chicharrones echo park meditation offal,
      selvage waistcoat PBR&B etsy jean shorts godard dreamcatcher try-hard. Food truck salvia raw denim kickstarter, lomo aesthetic meggings.
    </p>
  </div>
</div>
